@import 'node_modules/bootstrap/scss/bootstrap'
$padding: 10px
$background: #000

.circle
  background-color: $background
  border-radius: 50%
  height: 100px
  width: 100px

[type='button']
  border-radius: 10px
  display: table
  height: 20px
  margin: $padding
  width: 10px
